<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
      <add name="DBConnectionSQLCli" connectionString="Data Source=PSQLESBAR02\ONEKEY;Initial Catalog=INTERFACES_IMS_01_QA;User Id=sa;Password=Marina1618;"/>
      <add name="DBConnection" connectionString="OLEDB;Provider=sqloledb;Data Source=PSQLESBAR02\ONEKEY;Initial Catalog=INTERFACES_IMS_01_QA;User Id=sa;Password=Marina1618;" providerName="System.Data.OleDb" />
  </connectionStrings>
  <appSettings>
      <add key="ProccesFolder" value="C:\Dev\IMS\@PROC\data"/>
      <add key="OutFolder" value="out"/>
      <add key="JobID" value="7"/>
  </appSettings>


</configuration>